{{ define "body" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="/web/static/profileStyle.css">
</head>
<body class="body-back">
<header>
    <div class="profile-info">
        <img src="/web/static/isITQX_Q7OM.jpg" alt="Профильная фотография" class="profile-pic">
        <div class="user-info">
            <h1>{{.Username}}</h1>
        </div>
    </div>
</header>
<div class="topnav">
    <a href="http://localhost:8080/en/news">Twit-hub</a>
    <a href="http://localhost:8080/ru/news">🇷🇺</a>
</div>
    <div class="aaaaa">
        <div class="news-feed">
            <div class="news-list">

            </div>
        </div>
    </div>
<div class="profile-menu">
    <a href="http://localhost:8080/en/profile">Profile</a>
    <a href="http://localhost:8080/en/news">Events</a>
    <a href="http://localhost:8080/en/search">Search</a>
</div>
</body>
<script src="/web/static/main.js"></script>
</html>
{{ end }}