{{ define "body" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск пользователей</title>
    <link rel="stylesheet" href="/web/static/searchStyle.css">
</head>
<body class="body-back">
<div class="topnav">
    <a href="http://localhost:8080/en/news">Twit-hub</a>
    <a href="http://localhost:8080/ru/news">🇷🇺</a>
</div>
<div class="profile-menu">
    <a href="http://localhost:8080/en/profile">Profile</a>
    <a href="http://localhost:8080/en/news">Events</a>
    <a href="http://localhost:8080/en/search">Search</a>
</div>
<form>
    <label for="search">Search users:</label>
    <input type="text" id="search" name="search" placeholder="Enter username...">
    <input type="submit" value="Search">
</form>
<div id="results">
</div>
</body>
<script src="/web/static/main.js"></script>
</html>
{{ end }}